.u-section-1 .u-sheet-1 {
  min-height: 236px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}