 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/image.png");
  background-position: 50% 50%;
  min-height: 568px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 120px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 826px;
  margin: 38px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 468px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 358px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 269px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 169px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 526px;
}

.u-section-2 .u-video-1 {
  height: 366px;
  width: 588px;
  margin: 30px auto 0 -29px;
}

.u-section-2 .u-video-2 {
  height: 366px;
  width: 666px;
  margin: -366px -96px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 195px;
  height: 73px;
  margin: 37px auto 0 423px;
}

.u-section-2 .u-image-2 {
  width: 73px;
  height: 73px;
  margin: -73px 449px 20px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-2 .u-video-1 {
    height: 336px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-video-2 {
    height: 297px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 345px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-2 .u-video-1 {
    height: 212px;
    width: 340px;
  }

  .u-section-2 .u-video-2 {
    height: 187px;
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 115px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -73px;
    margin-right: 267px;
    margin-bottom: 30px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1138px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-style: italic;
  text-decoration: underline !important;
  margin: 25px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: 15px -50px 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  font-style: italic;
  text-decoration: underline !important;
  margin: 25px auto 0 464px;
}

.u-section-3 .u-text-4 {
  margin: 15px -50px 0;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  font-style: italic;
  text-decoration: underline !important;
  margin: 25px auto 0 399px;
}

.u-section-3 .u-text-6 {
  margin: 10px -50px 0;
}

.u-section-3 .u-text-7 {
  margin: 35px 660px 0 -50px;
}

.u-section-3 .u-text-8 {
  margin: -269px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 383px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 329px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 560px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-left: 293px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 252px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 450px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    margin-left: 220px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 189px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 360px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3209px;
  }

  .u-section-3 .u-text-3 {
    width: 166px;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 15px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 25px;
    margin-left: 0;
    margin-bottom: 39px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 3997px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-style: italic;
  text-decoration: underline !important;
  width: 398px;
  margin: 30px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 17px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  min-height: 2293px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 188px;
  height: 221px;
  margin: 55px 927px 0 25px;
}

.u-section-4 .u-group-1 {
  width: 894px;
  min-height: 422px;
  height: auto;
  margin: -250px 6px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -173px 939px 0 17px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 84px 0 0;
}

.u-section-4 .u-line-1 {
  width: 912px;
  margin: 47px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 188px;
  height: 221px;
  margin: 55px 927px 0 25px;
}

.u-section-4 .u-group-2 {
  width: 894px;
  min-height: 422px;
  height: auto;
  margin: -250px 6px 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-4 .u-text-5 {
  line-height: 2;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -173px 939px 0 17px;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 84px 0 0;
}

.u-section-4 .u-line-2 {
  width: 912px;
  margin: 47px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 188px;
  height: 221px;
  margin: 55px 927px 0 25px;
}

.u-section-4 .u-group-3 {
  width: 894px;
  min-height: 422px;
  height: auto;
  margin: -250px 6px 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-4 .u-text-8 {
  line-height: 2;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -173px 939px 0 17px;
}

.u-section-4 .u-text-10 {
  font-size: 1.125rem;
  margin: 84px 0 0;
}

.u-section-4 .u-line-3 {
  width: 912px;
  margin: 47px auto 0;
}

.u-section-4 .u-image-4 {
  width: 218px;
  height: 188px;
  margin: 131px 911px 0 11px;
}

.u-section-4 .u-group-4 {
  width: 894px;
  min-height: 549px;
  height: auto;
  margin: -280px 0 0 auto;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  line-height: 2;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  margin: -261px auto 0 34px;
}

.u-section-4 .u-text-13 {
  font-size: 1.125rem;
  margin: 157px 0 0;
}

.u-section-4 .u-line-4 {
  width: 912px;
  margin: 22px auto 0 86px;
}

.u-section-4 .u-image-5 {
  width: 180px;
  height: 240px;
  margin: 158px auto 0 42px;
}

.u-section-4 .u-group-5 {
  width: 894px;
  min-height: 514px;
  height: auto;
  margin: -343px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-14 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-15 {
  font-weight: 400;
  margin: -151px auto 0 34px;
}

.u-section-4 .u-text-16 {
  font-size: 1.125rem;
  margin: 93px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    margin-right: 752px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 774px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 752px;
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-4 .u-text-6 {
    margin-right: 774px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 752px;
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-4 .u-text-9 {
    margin-right: 774px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 722px;
    margin-left: 0;
  }

  .u-section-4 .u-group-4 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-4 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-4 .u-line-4 {
    height: 3px;
    margin-left: 28px;
  }

  .u-section-4 .u-group-5 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-4 .u-text-15 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-right: 532px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 593px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 532px;
  }

  .u-section-4 .u-group-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 593px;
  }

  .u-section-4 .u-line-2 {
    width: 720px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 532px;
  }

  .u-section-4 .u-group-3 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 593px;
  }

  .u-section-4 .u-line-3 {
    width: 720px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 502px;
  }

  .u-section-4 .u-group-4 {
    width: 720px;
  }

  .u-section-4 .u-line-4 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-group-5 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-right: 352px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 445px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 352px;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-6 {
    margin-right: 445px;
  }

  .u-section-4 .u-line-2 {
    width: 540px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 352px;
  }

  .u-section-4 .u-group-3 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-9 {
    margin-right: 445px;
  }

  .u-section-4 .u-line-3 {
    width: 540px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 322px;
  }

  .u-section-4 .u-group-4 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-4 .u-line-4 {
    width: 540px;
  }

  .u-section-4 .u-group-5 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-14 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 8928px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 152px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -632px;
    margin-right: 0;
    margin-left: 200px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 527px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
    margin-top: 63px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 152px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -632px;
    margin-right: 0;
    margin-left: 200px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 527px;
  }

  .u-section-4 .u-line-2 {
    width: 340px;
    margin-top: 63px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 152px;
  }

  .u-section-4 .u-group-3 {
    width: 340px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: -632px;
    margin-right: 0;
    margin-left: 200px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 527px;
  }

  .u-section-4 .u-line-3 {
    width: 340px;
    margin-top: 63px;
  }

  .u-section-4 .u-image-4 {
    width: 147px;
    height: 127px;
    margin-top: 58px;
    margin-right: 193px;
  }

  .u-section-4 .u-group-4 {
    width: 340px;
    min-height: 924px;
    margin-top: 75px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: -1114px;
    margin-right: -1px;
    margin-left: auto;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 1075px;
  }

  .u-section-4 .u-line-4 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-5 {
    margin-top: 88px;
    margin-right: 160px;
    margin-left: 0;
  }

  .u-section-4 .u-group-5 {
    width: 340px;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: -968px;
    margin-right: 0;
    margin-left: 200px;
  }

  .u-section-4 .u-text-16 {
    width: auto;
    margin-top: 806px;
    margin-bottom: 43px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1606px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-style: italic;
  text-decoration: underline !important;
  width: 398px;
  margin: 16px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  font-style: italic;
  text-decoration: underline !important;
  margin: 48px 928px 0 24px;
}

.u-section-5 .u-text-3 {
  font-size: 2.25rem;
  font-style: italic;
  width: 398px;
  text-decoration: underline !important;
  margin: 20px 371px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  margin: 36px 398px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 2.25rem;
  font-style: italic;
  width: 398px;
  text-decoration: underline !important;
  margin: 84px auto 0;
}

.u-section-5 .u-image-1 {
  width: 205px;
  height: 240px;
  margin: 43px auto 0 236px;
}

.u-section-5 .u-image-2 {
  width: 209px;
  height: 240px;
  margin: -240px 253px 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: 400;
  margin: 16px 222px 0 auto;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  margin: -115px auto 0 197px;
}

.u-section-5 .u-social-icons-1 {
  height: 36px;
  min-height: 16px;
  width: 128px;
  min-width: 68px;
  margin: 98px auto 0 256px;
}

.u-section-5 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 37px;
}

.u-section-5 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 37px;
}

.u-section-5 .u-icon-3 {
  height: 37px;
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-social-icons-2 {
  height: 112px;
  min-height: 16px;
  width: 112px;
  min-width: 16px;
  margin: -74px auto 17px 95px;
}

.u-section-5 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 12px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 752px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 271px;
    margin-right: 271px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 198px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 532px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 161px;
    margin-right: 161px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-right: 352px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 71px;
    margin-right: 71px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 167px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2250px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 152px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: 184px;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -539px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 128px;
    margin-top: 454px;
    margin-right: 21px;
    margin-left: auto;
  }

  .u-section-5 .u-social-icons-2 {
    margin-bottom: 60px;
    margin-left: 16px;
  }
}